<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 생성</title>
</head>
<body>
<form class ="container" th:action="@{|/create/project/${id}|}" method="post">

    <p th:text="${id}"></p>


    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">프로젝트 이름</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ID" name = "projectName">
    </div>

    <div class="mb-3" id = "div_input">
        <label for="formGroupExampleInput" class="form-label">프로젝트 참여자</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ID" name = "groupMember">
    </div>


    <button type="submit" class="btn btn-primary">프로젝트 생성</button>

</form>

<button id="addMember" onclick="addMemebr()">참여자 추가</button>

<script>
var lineCount = 0;

addMemebr = function () {

var i = document.createElement('input');
i.setAttribute("type", "text");
i.setAttribute("ID", "Address Line " + ++lineCount);
i.setAttribute("NAME","groupMember");
var addressContainer = document.getElementById("div_input");
addressContainer.insertAdjacentElement("beforeend", i);

}

</script>

<button type="button" class="btn btn-primary" onclick="location.href='/'">취소</button>
</body>
</html>